/**Reset**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**Variáveis**/

:root{
    --color-nao-metais: #4603b1;
    --color-gases-nobres: #277da1;
    --color-metais-alcalinos: #E20808;
    --color-metais-alcalinos-terrosos: #F94141;
    --color-semimetais: #43aa8b;
    --color-halogenios: #87b465;
    --color-outros-metais: #4d908e;
    --color-metais-transicao: #2a796c;
    --color-lantanideos: #277da1;
    --color-actinidios: #79456c;
    --color-text: #fff;
}
/**mobile**/
.elemento {
    width: 100px;
    height: 100px;
    margin: 7px;
    color: var(--color-text);
}

.naoMetais{
    background-color: var(--color-nao-metais);
}
.gasesnobres{
    background-color: var(--color-gases-nobres);
}
.metaisalcalinos{
    background-color: var(--color-metais-alcalinos);
}
.metaisalcalinosterrosos{
    background-color: var(--color-metais-alcalinos-terrosos);
}
.semimetais{
    background-color: var(--color-semimetais);
}
.halogenios{
    background-color: var(--color-halogenios);
}
.outrosmetais{
    background-color: var(--color-outros-metais);
}
.metaisdetransição{
    background-color: var(--color-metais-transicao);
}
.lantanideos{
    background-color: var(--color-lantanideos);
}
.actinidios{
    background-color: var(--color-actinidios);
}

.estilo{
    border-radius: 7px;
    padding: 10%;
}
.right{
    text-align: right;
}
/**desktop**/
@media screen and (min-width: 600px)
    {
    .linha01{
        display: flex;
        justify-content: space-between;
    }
    .linha2{
        display: flex;
        justify-content: space-between;
    }
    .linha021{
        display:flex;
    }
    .linha022{
        display:flex;
    }
    .linha03{
        display: flex;
        justify-content: space-between;
    }
    .linha031{
        display:flex;
    }
    .linha032{
        display:flex;
    }
    .linha04{
        display: flex;
    }
    .linha05{
        display: flex;
    }
    .linha06{
        display: flex;
        justify-content: space-between;
    }
    .linha61{
        display: flex;
    }
    .linha62{
        display: flex;
    }
    .linha63{
        display: flex;
    }
    .linha07{
        display: flex;
        justify-content: space-between;
    }
    .linha71{
        display: flex;
    }
    .linha72{
        display: flex;
    }
    .linha08{
        display: flex;
        justify-content: end;
    }
    .linha09{
        display: flex;
        justify-content: end;
    }
}
